

		.iphone1{
			width: 100%;
			height:90%;
			z-index: 2;
			margin: 0 auto;
		}
		.iphone5{
			
			width:45% ;
		
		
			padding-bottom: 10%;
			margin-top: 30%;
			margin-left:5%
		}
		.iphone6{
			height: 20%	;
			width:45% ;
			padding-bottom:10%;
			margin-top: 30%;
			margin-left:1%
		}
		.iphone2{
			width: 100%;
			height: 5%;
		}
		.mcstyle{
			position: absolute;
			top: 0px;
			height: 100%;
			width: 100%;
			background: #141426;
			opacity: 0.9;
		}
	/* 	.iphone3{
			    width: 80%;
			    padding-bottom: 8%;
			    position: absolute;
			    bottom:27%;
			    left: 10%;
			    height: 32%;
		} */
		.iphone4{
			width: 50%;
			padding-bottom: 20%;
			position: absolute;
			top:3%;
			right:4%
		}
		
		
	 .ios {
		width: 40%;
		color: #fff;
		background: #161616;
		height: 130px;
		border-radius: 72px;
		font-size: 27px;
		font-weight: 500;
		line-height: 130px;
				display: flex;
		padding: 0 30px;
		/* text-align: center; */
	}
	
 .downbutton {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 92%;
		margin-top: 120px;
	}
	
	 .android {
		font-size: 27px;
		width: 40%;
		color: #fff;
		background: #161616;
		height: 130px;
		border-radius: 72px;
		font-weight: 500;
		line-height: 130px;
		display: flex;
				 /* justify-content: space-between; */
		padding: 0 30px;
		/* text-align: center; */
	
	}
	
	 .downixon {
		width: 100px;
		height: 100px;
		margin-top: 14px;
		margin-left: -11PX;
	}
	
.downText {
		width: 60%;
		color: #fff;
		font-weight: 500;
		font-size:27px;
		text-align: center;
	}
	
	.code{
		    font-size: 70px;
		    font-weight: 600;
		    text-align: center;
		    color: #333;
		    height: 100px;
	}
	.mckuangtext{
		border:8px solid  #23C9A7;
		border-radius: 50px;
		position: absolute;
		bottom:27%;
		left: 10%;
		/* height: 28%; */
		 width:74%;
		text-align: center;
		 padding: 120px 30px;
		 background: rgb(251,251,251,0.1);
	
	}
	
	.mckuangtext div{
	color: #fff;
	font-size: 55px;
		margin: 20px 0;
	}
	.mckuangtext div:first-child{
	margin-top: 50px;	
	}