*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #1F2340;
  letter-spacing: 1px;
}
html,body{
  width: 100%;
  height: auto;
  min-height: 100%;
  height: 100%;
}
#app{
  width: 100%;
  min-width: 1080px;
  height: auto;
  min-height: 100%;
  height: 100%;
  background: #ffffff;
 
}

#app{
  width: 100%;
  height: auto;
  min-width: 1080px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.header{
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.lanuage{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.lanuage span{
  margin:8px 0;
}
.lanuage_active{
  color: #23C9A7;
}
.center{
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center img{
  width: 36px;
  height: 36px;
}
.center .right{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.active{
  color: #23C9A7;
}
.download{
  color: #1F2340;
  margin-right:15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.download img{
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 10px;
}
.right .whitebook{
  margin: 0 30px;
}
.borser{
  margin-right: 100px;
}
.home,.whitebook,.borser,.download{
  text-decoration: none;
}
.banner{
 width: 1080px;
 /* max-width: 1080px;
 height: 6.40rem; */
 height: 640px;
 margin: 0.68rem 0 0.30rem;
}

.part_one{
  width: 100%;
  height: 2.8rem;
  background: url('../img/part_one_bg.png') no-repeat;
  background-size: cover;
  /* background: linear-gradient(11deg, #CCD5DD 0%, #F2F3F5 100%); */
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0.25rem 0;
}
.part_one_center{
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_box{
  width: calc(100% - 3rem);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
}
.img_box img{
  width: 2.66rem;
  height: 1.50rem;
}
.text_box{
  width: 50%;
  height: auto;
  font-size: 15px;
  font-family: PingFang SC;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 30px;
  color: #142352;
  opacity: 1;
}
.part_one_text{
  width: calc(100% - 1.25rem);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.25rem;

}

.part_two{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.part_tow_center{
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left_align{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right_align{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* padding-left: 20%; */
}
.item{
  width: 80%;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem 0.2rem;
  margin-bottom: 20px;
}
.green{
  background: rgba(35, 201, 167, 0.1);
}
.gray{
  background: rgba(222, 268, 236, 0.5);
  background:#DEE4EC ;
}
.item_left{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item_one img,.item_two img{
  width: 0.48rem;
  height: 0.48rem;
  margin-bottom: 5px;
}
.item_three img{
  width: 0.47rem;
  height: 0.48rem;
  margin-bottom: 5px;
}
.item_four img{
  width: 0.56rem;
  height: 0.48rem;
  margin-bottom: 5px;
}
.item_five img{
  width: 0.64rem;
  height: 0.48rem;
  margin-bottom: 5px;
}
.item span{
  font-size: 14px;
  font-family: FZLanTingHeiS-DB1-GBK;
  font-weight: 400;
  line-height:0.45rem;
  color: #141426;
  opacity: 1;

}
.green 
.item_right
{
  width: 67%;
  height: auto;
  font-size: 15px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #208D7A;
  line-height: 30px;
  opacity: 1;
}

.gray
.item_right
{
  width: 76%;
  height: auto;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 30px;
  color: #5E768B;
  opacity: 1;
}

.part_three{
  width: 100%;
  height: auto;
  /* max-height: 4.32rem; */
  background: url('../img/part_three_bg.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.part_three_center{
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center_left{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
 
}
.text_oex{
  margin-top:120px ;
  font-size: 57px;
  font-family: FZLanTingHeiS-H-GB;
  font-weight: 400;
  color: #FFFFFF;

}
.text_text{
  font-size: 35px;
  font-family: FZLanTingHeiS-B-GB;
  font-weight: 600;
  line-height: 40px;
  color: #142352;
}
.text_text_account{
  font-size: 20px;
  font-family: FZLanTingHeiS-B-GB;
  font-weight: 600;
  line-height: 40px;
  color: #142352;
  margin-top: 10px;
}
.center_right{
  width: 70%;
  /* max-width: 634px; */
  height: auto;
  margin-top: 0.32rem;
}

.part_four{
  width: 100%;
  height: 400px;
  background: url('../img/part_four_bg.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_partner{
  font-size: 28px;
  font-family: FZLanTingHeiS-DB1-GBK;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 2px;

}
.join_us{
  width:178px;
  height:44px ;
  margin-top: 0.4rem;
}

.footer{
  width: 100%;
  height: 1.44rem;
  background: #C1C6CC;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_center{
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center_left img{
  width: 1.5rem;
  height: auto;
}
.footer_right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.right_top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.right_top img{
  width: 20px;
  height: 20px;
  margin: 0 18px;
}
.footer_right p{
 
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 17px;
  color: #91A1AF;
  opacity: 1;
  margin-top: 0.1rem;

}

.footer_left{
  justify-content: center;
}
 